# Requirements for GUI and EXE building
bs4
requests
imageio-ffmpeg

# For YouTube upload (optional)
google-api-python-client
google-auth-oauthlib
google-auth-httplib2

# For building EXE
pyinstaller
